.container{
  width:80%;
  margin:0 auto;
}
.Header-background{
  padding: 50px;
  padding-top: 100px;
  display:flex;
  justify-content: center;
  text-align: center;
}

.Header-image{
  position: absolute;
  z-index: 0;
  top: -120px;
  height: 400px;
}

.Header-main{
  margin-bottom: 2em;
  margin-left: -200px;
}

.Header-benefit{
  width: 32%;
  display: inline-block;
  margin-right: 1%;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}

.Header-benefit-content{
  flex-basis: 65%;
  max-width: 65%;
  padding: 10px 10px !important;
}

.Header-benefit-icon{
  display:flex ;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  max-width: 30%;
  box-sizing: border-box;
  -webkit-box-flex:0;
  -ms-flex:0 0 auto;
  flex: 0 0 auto;
  padding: .5rem;
}
